*
{
	margin: 0em;
	padding: 0em;
}

.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

div.fixed
{
	width: 950px;
}

body
{
    font-size:9pt;
    font-family:"Trebuchet MS", sans-serif;
	background: #333 url('/media/images/bodybg.png');
	color: #585858;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	letter-spacing: -1px;
}

h3,h4,h5,h6
{
	color: #2F91CA;
}

h1 span
{
	font-weight: bold;
}

h3 span
{
	font-weight: bold;
}

h4 span
{
	font-weight: bold;
}

br.clear
{
	clear: both;
}

img
{
	padding: 3px;
	border: solid 1px #e1e1e1;
}

img.floatTL
{
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

a
{
	text-decoration: underline;
	color: #2FB0CA;
}

a:hover
{
	text-decoration: none;
}

ul.links
{
	list-style: none;
}

ul.links .first
{
	list-style:disc;
	font-weight:bold;
}

ul.links li
{
	line-height: 2em;
}

p
{
	line-height: 1.8em;
}

/* Header */

#header
{
	width:100%;
	height:122px;
	background: #069 url('/media/images/headerbg.png') repeat-x;
}

#header_inner
{
	position: relative;
	width: 950px;
	height:122px;
	margin: 0 auto;
}

/* Logo */

#logo
{
	position: absolute;
	bottom: 0.6em;
}

#logo h1
{
	display: inline;
	color: #fff;
	font-size: 2.6em;
}

#logo h2
{
	display: inline;
	padding-left: 0.5em;
	color: #E2D2E4;
	font-size: 1.0em;
}

#logo img
{
	position: absolute;
	bottom: 0em;
	border:none;
}

/* Menu */

#menu
{
	position: absolute;
	right: 0em;
	bottom: 0em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	float: left;
}

#menu li a
{
	margin-left: 0.5em;
	display: block;
	padding: 1.1em 1.4em 1.0em 1.4em;
	background: #2FB0CA url('/media/images/menuactive.png') repeat-x;
	border: solid 1px #2FB0CA;
	color: #fff;	
	font-weight: bold;
	font-size: 1.0em;
	text-decoration: none;
}

#menu li a:hover {
	margin-left: 0.5em;
	display: block;
	padding: 1.1em 1.4em 1.0em 1.4em;
	background: #2F91CA url('/media/images/menuover.png') repeat-x;
	border: solid 1px #2F91CA;
	color:#FFF;
	font-weight: bold;
	font-size: 1.0em;
	text-decoration: none;	
}
#menu li a.active
{
	background: #fff url('/media/images/menu.png') repeat-x;	
	border: solid 1px #fff;
	color: #616161;
}

/* Main */

#main
{
	background: #fff url('/media/images/mainbg.png') 0px 1px repeat-x;
	padding-bottom:2.0em;
}

#main_inner p
{
	text-align: justify;
	margin-bottom: 2.0em;
}

#main_inner ul
{
	margin-bottom: 2.0em;
}

#main_inner
{
	position: relative;
	width: 950px;
	margin: 0 auto;
	padding-top: 3.5em;
        overflow: hidden;
}

#main_inner h3,h4
{
	border-bottom: dotted 1px #E1E1E1;
	position: relative;
}

#main_inner h3
{
	font-size: 2.1em;
	padding-bottom: 0.1em;
	margin-bottom: 0.8em;
}

#main_inner h4
{
	font-size: 1.2em;
	padding-bottom: 0.175em;
	margin-bottom: 1.4em;
	margin-top: 0.95em;
}

#main_inner .post
{
    padding-left:20px;
	/*position: relative;*/
}

#main_inner .post h3
{
	position: relative;
	font-size: 1.7em;
}

#main_inner .post ul.post_info
{
	list-style: none;
	position: absolute;
	top: 3em;
	font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
	background-position: 0em 0.2em;
	background-repeat: no-repeat;
	display: inline;
	padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
	background-image: url('/media/images/iconpost.gif');
}

/* FOOTER STYLE */

#footer
{
	width: 100%;
	background:#333 url('/media/images/footerbg.png') repeat-x;
	margin: 0 auto;
	text-align: center;
	clear: both;
	color:#999;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

/* SEARCH STYLE */

input.button
{
	background: #2F91CA  url('/media/images/menuover.png') repeat-x;
	color: #fff;
	border: solid 1px #2F91CA;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 0.8em;
	height: 2.0em;
}

input.text
{
	border: solid 1px #F1F1F1;
	font-size: 1.0em;
	padding: 0.25em 0.25em 0.25em 0.25em;
}

#search
{
	position: relative;
	width: 100%;
	margin-bottom: 2.0em;
}

#search input.text
{
	position: absolute;
	top: 0em;
	left: 0em;
	width: 9.5em;
}
.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }


#search input.button
{
	position: absolute;
	top: 0em;
	right: 0em;
	min-width: 2.0em;
	max-width: 2.5em;
}

#contacts
{
	float: left;
	width: 250px;
	padding: 0em 2em 0.5em 2.3em;
}

#login
{
    float:left;
    width:250px;
	padding: 0em 2em 0.5em 2.3em;
}

#register
{
    float:left;
    width:250px;
	padding: 0em 2em 0.5em 2.3em;
}

#contacts .item a
{
	width:150px;
	display: block;
	background: #2FB0CA url('/media/images/menuactive.png') repeat-x;
	border:1px #2F91CA solid;
	color: #fff;	
	font-weight: bold;
	font-size: 1.0em;
	text-decoration: none;
	padding: 0.5em 1.4em 0.5em 1.4em;
	margin-bottom:0.1em;	
}

#contacts .item a:hover {
	width:150px;
	display: block;
	background: #2F91CA url('/media/images/menuover.png') repeat-x;
	border:1px #2F91CA solid;
	color:#FFF;
	font-weight: bold;
	font-size: 1.0em;
	text-decoration: none;
	padding: 0.5em 1.4em 0.5em 1.4em;
	margin-bottom:0.1em;
}

#schedules
{
	width: 180px;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

#history
{
	width: 175px;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

#tools
{
	width: 142px;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

#accordion
{
    font-size:9pt;
}

#accordion h3
{
    font-size:9pt;
    font-family:"Trebuchet MS", sans-serif;
	padding-bottom: 0em;
	margin-bottom: 0em;
}
#accordion a
{
    color:#2FB0CA;
}

#accordion a:hover
{
    color:#FFF;
}