<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Contaker - {{ site_location }}</title>
<link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>

<body>
<div id="header">
	<div id="header_inner" class="fixed">
        <div id="logo">
        	<a href="../"><img src="/media/images/logo.png" width="400" height="100"/></a>
		</div>   
	</div>
</div>

<div id="main">
	<div id="main_inner" class="fixed">
        {% block content %}
            
        {% endblock %}
	</div>
</div>

<div id="footer" class="fixed">
	Copyright &copy; 2011 Contaker Contact Manager. All rights reserved.
</div>
</body>
</html>